
html {
	font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; 
}
body{
color:#444;
font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
font-size:13px;
line-height:1.5em;
padding-bottom:50px;
margin:auto;
max-width:42em;
background:#fefefe;
}



